In [1]:
import pandas as pd
import numpy as np
import statistics as st

In [2]:
path = 'vgsales.csv'
df = pd.read_csv(path)
df.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [3]:
# Hiển thị số dòng/cột của dữ liệu
print(df.shape)

(16598, 11)

In [4]:
# Miêu tả bán hàng trên toàn thế giới
print(df['Global_Sales'].describe())

count    16598.000000
mean         0.537441
std          1.555028
min          0.010000
25%          0.060000
50%          0.170000
75%          0.470000
max         82.740000
Name: Global_Sales, dtype: float64

In [5]:
# Thể loại game xuất hiện nhiều nhất
st.mode(df['Genre'])

'Action'

In [6]:
# Giá trị trung bình của EU_Sales
print(df['EU_Sales'].mean())

0.1466520062658483

In [7]:
# Giá trị phương sai của JP_Sales
print(df['JP_Sales'].var())

0.09566070499106545

In [8]:
# Độ lệch chuẩn của JP_Sales
st.stdev(df['JP_Sales'])

0.30929064808220297

In [9]:
# Mối tương quan giữa các cột trong dataframe
print(df.corr(method='pearson'))

                  Rank      Year  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
Rank          1.000000  0.178814 -0.401362 -0.379123 -0.267785    -0.332986
Year          0.178814  1.000000 -0.091402  0.006014 -0.169316     0.041058
NA_Sales     -0.401362 -0.091402  1.000000  0.767727  0.449787     0.634737
EU_Sales     -0.379123  0.006014  0.767727  1.000000  0.435584     0.726385
JP_Sales     -0.267785 -0.169316  0.449787  0.435584  1.000000     0.290186
Other_Sales  -0.332986  0.041058  0.634737  0.726385  0.290186     1.000000
Global_Sales -0.427407 -0.074735  0.941047  0.902836  0.611816     0.748331

              Global_Sales
Rank             -0.427407
Year             -0.074735
NA_Sales          0.941047
EU_Sales          0.902836
JP_Sales          0.611816
Other_Sales       0.748331
Global_Sales      1.000000

In [12]:
# Nhóm theo từng thể loại
gk = df.groupby('Genre')
gk.first()

,Rank,Name,Platform,Year,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Genre,,,,,,,,,,
Action,17,Grand Theft Auto V,PS3,2013.0,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
Adventure,51,Super Mario Land 2: 6 Golden Coins,GB,1992.0,Nintendo,6.16,2.04,2.69,0.29,11.18
Fighting,40,Super Smash Bros. Brawl,Wii,2008.0,Nintendo,6.75,2.61,2.66,1.02,13.04
Misc,8,Wii Play,Wii,2006.0,Nintendo,14.03,9.20,2.93,2.85,29.02
Platform,2,Super Mario Bros.,NES,1985.0,Nintendo,29.08,3.58,6.81,0.77,40.24
Puzzle,6,Tetris,GB,1989.0,Nintendo,23.20,2.26,4.22,0.58,30.26
Racing,3,Mario Kart Wii,Wii,2008.0,Nintendo,15.85,12.88,3.79,3.31,35.82
Role-Playing,5,Pokemon Red/Pokemon Blue,GB,1996.0,Nintendo,11.27,8.89,10.22,1.00,31.37
Shooter,10,Duck Hunt,NES,1984.0,Nintendo,26.93,0.63,0.28,0.47,28.31
Simulation,11,Nintendogs,DS,2005.0,Nintendo,9.07,11.00,1.93,2.75,24.76
Sports,1,Wii Sports,Wii,2006.0,Nintendo,41.49,29.02,3.77,8.46,82.74
Strategy,166,Pokemon Stadium,N64,1999.0,Nintendo,3.18,1.24,0.94,0.09,5.45

In [13]:
# Tổng doanh số bán hàng theo từng thể loại
print(gk['NA_Sales'].sum())

Genre
Action          877.83
Adventure       105.80
Fighting        223.59
Misc            410.24
Platform        447.05
Puzzle          123.78
Racing          359.42
Role-Playing    327.28
Shooter         582.60
Simulation      183.31
Sports          683.35
Strategy         68.70
Name: NA_Sales, dtype: float64